<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/register.css">
    <title>Register</title>
</head>
<body>
    <header>
        <div class="top-header">
        <div class="logo-busqueda">
            <div class="logo"> 
                <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más </div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
        </div>
            <p class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="rigth-navbar">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <main>
        <div class="form-contenedor">
            <form action="/register" method="post">
                <div class="input-div">
                    <label for="Nombre y apellido"></label>
                    <input type="text" name="Nombre y apellido" id="Nombre y apellido" placeholder="Nombre y Apellido" required>
                    <label for="Usuario"></label>
                    <input type="text" name="Usuario" id="Usuario" placeholder="Usuario" required>
                    <label for="password"></label>
                    <input type="password" name="password" id="password" required minlength="8" placeholder="Contraseña">
                    <label for="password"></label>
                    <input type="password" name="password" id="password" required minlength="8" placeholder="Confirmar contraseña">
                    <label for="Domicilio"></label>
                    <input type="text" name="Domicilio" id="Domicilio"  placeholder="Domicilio" required>
                    <p>
                        <label for="fecha"></label>
                        <input type="date" name="fecha" id="fecha" required placeholder="Fecha de nacimiento">
                    </p>
                </div>
                <p class="perfil-usuario">
                    <label>Perfil del usuario: </label>
                    <input type="radio" name="Perfil" value="Comprador">Comprador
                    <input type="radio" name="Perfil" value="Vendedor">Vendedor
                </p>
                <p class="categorias">
                    <label>Categorías de interés: </label>
                    <div class="categorias">
                    <input type="checkbox" name="interes" value="Electro">Electro
                    </div>
                    <div class="categorias">
                    <input type="checkbox" name="interes" value="Moda">Moda
                    </div>
                    <div class="categorias">
                    <input type="checkbox" name="interes" value="Hogar">Hogar
                    </div>
                    <div class="categorias">
                    <input type="checkbox" name="interes" value="Juguetería">Juguetería
                    </div>
                    <div class="categorias">
                    <input type="checkbox" name="interes" value="Vida sana">Vida sana
                    </div>
                </p>
                <p>
                    <label>Foto de usuario: </label>
                    <input type="file" name="avatar" accept=".jpg">
                </p>
                <p class="boton1">
                    <button type="submit"><a href="/">Enviar</a></button>
                </p>
                <p class="boton2">
                    <button type="reset">Borrar</button>
                </p>
            </form>
        </div>
    </main>
    <footer>
        <div class="beneficios">
            <article>
                <div class="beneficios_icon">
                    <i class="fa fa-credit-card"></i>
                </div>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con MercadoLiebre Cash, tenés cuotas sin <br> interés con tarjeta o efectivo en
                    puntos de <br> pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <div class="beneficios_icon">
                    <i class="fa fa-truck-moving"></i>
                </div>
                <h4>Envío gratis desde $ 2.500</h4>
                <p> Solo por estar registrad@ en MercadoLiebre <br> tenés envíos gratis en miles de
                    productos. Es <br> un beneficio de Mercado Puntos. <br></p>
            </article>
            <article>
                <div class="beneficios_icon">
                    <i class="fa fa-user-shield"></i>
                </div>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre <br> no hay nada que no puedas hacer
                    porque estás <br> siempre protegid@.</p>
            </article>
        </div>
        <div id="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>