*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}
main{
    width: 100%;
    padding: 10px;
}
p{
    font-size: 15px;
}
div.top-header{
    padding: 15px;
}
header{
    width: 100%;
    background-color: #EAC926;
}
header div.logo{
    max-width: 50%;
}
.form{
    display: flex;
    justify-content:center ;
}
header nav{
    font-size: 12px;
}
header ul li{
    list-style-type: none;
}
header ul li a{
    text-decoration: none;
    color: #000;
}
header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}
.submit{
    max-width: fit-content;
}
.copy-header{
    text-align: center;
    font-size: 22px;
}
div.burger-menu{
    text-align: center;
}
div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}
.main-navbar{
    display: none;
}
.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-navbar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
main form{
    text-align: center;
    margin-top: 150px;
}
footer{
    background-color: #e7e7e7;
    margin-top: 200px;
}
footer div article{
    text-align: center;
    padding: 30px;
}
footer div article p{
    padding: 0 20px;
}
.beneficios{
    padding-top: 20px;
}
.beneficios_icon{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}
#copyright{
    padding: 20px;
    text-align: center;
}
@media (min-width: 768px){
    .top-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .copy-header{
        max-width: 350px;
        font-size: 22px;
        text-align: right;
    }
    .burger-menu{
        display: none;
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
    }
    .main-navbar{
        margin-top: 25px;
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
        margin: 0 5px;
    }
    .discount{
        font-size: 20px;
    }
    .price{
        font-size: 24px;
    }
    .articulos-productos{
        margin: 5px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .form{
        max-width: none;
        flex-grow: 1;
        padding: 15px;
        margin-top: 5px;
    }
    header div.logo{
        width: 30%;
    }
    .logo-busqueda{
        display: contents;
    }
}
@media (min-width: 1200px){
    .logo{
        width: 35%;
    }
    .top-header, .main-navbar{
        max-width: 1200px;
        margin: auto;
    }
    .top-header{
        align-items: center;
    }
    .copy-header{
        margin: 0;
        max-width: none;
        font-size: 22px;
    }
    .main-navbar li{
        margin: 0 10px;
    }
    .main-navbar a{
        font-size: 19px;
    }
    .logo-busqueda{
        display: contents;
    }
    .beneficios{
        display: flex;
    }
}